*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
*__pycache__
.DS_Store
.idea
.vscode/*
.env
env
/datos
test.py
example_input.json
env_ambiente_anterior
kubernetes-local
datacience_base